<% title t('.title') %>

<div class="row">
  <div class="col-md-12">
    <h2 class="title"><%= t('.title') %></h2>
  </div>

  <div class="col-md-6">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: 'btn-success' %>
    <% end %>
  </div>
</div>
