---
http_interactions:
- request:
    method: post
    uri: https://api.iugu.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"name":"Jonh Doe","email":"account0@example.com"}'
    headers:
      Authorization:
      - Basic ZjQxNjljY2JiNjE2NjBjZDhkMDhmMzcwMzcyYzk5OTk6
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b3e19e49505af9aac778980d739c35f8"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"E89854FBE69A475798D57AF0B8427CB8","email":"account0@example.com","name":"Jonh
        Doe","notes":null,"created_at":"2016-06-14T17:44:24-03:00","updated_at":"2016-06-14T17:44:24-03:00","cc_emails":null,"cpf_cnpj":null,"default_payment_method_id":null,"proxy_payments_from_customer_id":null,"custom_variables":[]}'
  recorded_at: Tue, 14 Jun 2016 20:44:20 GMT
- request:
    method: post
    uri: https://api.iugu.com/v1/customers/E89854FBE69A475798D57AF0B8427CB8/payment_methods
    body:
      encoding: UTF-8
      string: '{"customer_id":"E89854FBE69A475798D57AF0B8427CB8","description":"Cartão
        de Crédito","token":"5E5C5CC5-2412-476E-A8E5-5A50B3B79397","set_as_default":true}'
    headers:
      Authorization:
      - Basic ZjQxNjljY2JiNjE2NjBjZDhkMDhmMzcwMzcyYzk5OTk6
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a929ceea1294c876299a3c17a1c6209b"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"D5B57FE76C224B27B0B0B72092E826B5","description":"Cart\u00e3o
        de Cr\u00e9dito","item_type":"credit_card","customer_id":"E89854FBE69A475798D57AF0B8427CB8","data":{"brand":"VISA","holder_name":"RAINER
        B A MATOS","display_number":"XXXX-XXXX-XXXX-1111"}}'
  recorded_at: Tue, 14 Jun 2016 20:44:20 GMT
- request:
    method: post
    uri: https://api.iugu.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"plan_identifier":"essentials_plan","customer_id":"E89854FBE69A475798D57AF0B8427CB8","only_on_charge_success":true}'
    headers:
      Authorization:
      - Basic ZjQxNjljY2JiNjE2NjBjZDhkMDhmMzcwMzcyYzk5OTk6
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"83c8e6038b58757ee189be01aec6d7c3"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"ABC1C0EA9F4341568AA23EC5B5043743","suspended":false,"plan_identifier":"essentials_plan","price_cents":19900,"currency":"BRL","features":{"emails":{"name":"N\u00famero
        de Emails","value":100000}},"expires_at":"2016-07-14","created_at":"2016-06-14T17:44:27-03:00","updated_at":"2016-06-14T17:44:28-03:00","customer_name":"Jonh
        Doe","customer_email":"account0@example.com","cycled_at":null,"credits_min":0,"credits_cycle":null,"payable_with":"credit_card","customer_id":"E89854FBE69A475798D57AF0B8427CB8","plan_name":"Plano
        Essentials","customer_ref":"Jonh Doe","plan_ref":"Plano Essentials","active":true,"in_trial":null,"credits":0,"credits_based":false,"recent_invoices":[{"id":"6598BA37E4124FDFBDEDFEF829228BD9","due_date":"2016-06-14","status":"paid","total":"R$
        199,00","secure_url":"https://iugu.com/invoices/6598ba37-e412-4fdf-bded-fef829228bd9-73e2"}],"subitems":[],"logs":[{"id":"203921FB49C44BF686401F312CB99F8E","description":"Fatura
        criada","notes":"Fatura criada com os items:  1x Ativa\u00e7\u00e3o de Assinatura:
        Plano Essentials = R$ 199,00;","created_at":"2016-06-14T17:44:27-03:00"},{"id":"98690247A6DE4792B6D7212A9E011BED","description":"Assinatura
        Criada","notes":"Assinatura Criada ","created_at":"2016-06-14T17:44:27-03:00"}],"custom_variables":[]}'
  recorded_at: Tue, 14 Jun 2016 20:44:22 GMT
recorded_with: VCR 3.0.3
