---
http_interactions:
- request:
    method: post
    uri: https://sns.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=mailkiq-&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T221153Z
      X-Amz-Content-Sha256:
      - 7ae1fe6d335c7c2ebcb6d9cb7864e6bc9b52b598da0e87f55cb1f7a8c6e41955
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160329/us-east-1/sns/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=817a3d93b4ca082a39dd2027423a5dce0a10e7bdaa8aaedc6798179fed8e7400
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1dcd69dc-0ad0-5c2d-9af0-26a8f53ade74
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:us-east-1:495707395447:mailkiq-</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>1dcd69dc-0ad0-5c2d-9af0-26a8f53ade74</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Tue, 29 Mar 2016 22:11:54 GMT
- request:
    method: post
    uri: https://sns.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=http%3A%2F%2Fmailkiq.com%2Fapi%2Fv1%2Fnotifications%3Fapi_key%3Ddddb35be-9ba2-4576-a157-6a5335cc9c8c&Protocol=http&TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A495707395447%3Amailkiq-&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T221154Z
      X-Amz-Content-Sha256:
      - a0fcfebd91dc18f2bcb1bc3e3a7f4a7ffb2895e96acd329576d727ad9e82a5a7
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160329/us-east-1/sns/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=9385bf465bc6e1518dbb8faad8b50416869f2ddc4640a5ab56d142130127424d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2e58757d-3ed0-5711-8b4d-3a09c13b39af
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>pending confirmation</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>2e58757d-3ed0-5711-8b4d-3a09c13b39af</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Tue, 29 Mar 2016 22:11:56 GMT
recorded_with: VCR 3.0.1
