---
http_interactions:
- request:
    method: post
    uri: https://sns.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=mailkiq
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-amz-date:
      - 20160313T213251Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160313/us-east-1/sns/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=dfc90789852ab78b6f8faf98a62963a777c9685a94e0a6448a90c5d576cefbd0
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-RequestId:
      - d3380c40-7fe6-56bb-a006-431fa12598b9
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:us-east-1:495707395447:mailkiq</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>d3380c40-7fe6-56bb-a006-431fa12598b9</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Sun, 13 Mar 2016 21:32:51 GMT
- request:
    method: post
    uri: https://sns.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=http%3A%2F%2Fmailkiq.com%2Fapi%2Fv1%2Fnotifications%3Fapi_key%3Dd136300a-4711-4337-aee9-fbe81f3baba2&Protocol=http&TopicArn=arn%3Aaws%3Asns%3Aus-east-1%3A495707395447%3Amailkiq
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-amz-date:
      - 20160313T213251Z
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160313/us-east-1/sns/aws4_request,
        SignedHeaders=content-type;host;x-amz-date, Signature=7dd9b49c739a7b41a9ffaba104886c2c4f40d722480dbea910e8da85e70e631c
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-RequestId:
      - 1ba79895-5f8c-574b-9ad7-d7ca81482616
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>pending confirmation</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>1ba79895-5f8c-574b-9ad7-d7ca81482616</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Sun, 13 Mar 2016 21:32:53 GMT
recorded_with: VCR 3.0.1
