---
http_interactions:
- request:
    method: get
    uri: https://api.iugu.com/v1/customers/E89854FBE69A475798D57AF0B8427CB8
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZjQxNjljY2JiNjE2NjBjZDhkMDhmMzcwMzcyYzk5OTk6
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"17557773e95dc51317682ef628fd7e70"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"E89854FBE69A475798D57AF0B8427CB8","email":"account0@example.com","name":"John
        Doe","notes":null,"created_at":"2016-06-14T17:44:24-03:00","updated_at":"2016-06-14T17:44:29-03:00","cc_emails":null,"cpf_cnpj":null,"default_payment_method_id":"D5B57FE76C224B27B0B0B72092E826B5","proxy_payments_from_customer_id":null,"custom_variables":[]}'
  recorded_at: Tue, 14 Jun 2016 20:44:23 GMT
recorded_with: VCR 3.0.3
