---
http_interactions:
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetIdentityVerificationAttributes&Identities.member.1=example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T215136Z
      X-Amz-Content-Sha256:
      - 286fbb5a9547bc9226193a9a6be0dc6aeeeb729c24aef7138f9cb36f7f650404
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160329/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=dfd9043c72fc3770970d5f636456a8ed95bcede215e31842cc7674666e92f9aa
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 69b4cfe6-f5f8-11e5-a35b-551ab72fe034
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetIdentityVerificationAttributesResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <GetIdentityVerificationAttributesResult>
            <VerificationAttributes>
              <entry>
                <key>example.com</key>
                <value>
                  <VerificationToken>G8qYlxUb5fkAus3eY/tp83XPKI0RvChrEfjYl4aEn7s=</VerificationToken>
                  <VerificationStatus>Pending</VerificationStatus>
                </value>
              </entry>
            </VerificationAttributes>
          </GetIdentityVerificationAttributesResult>
          <ResponseMetadata>
            <RequestId>69b4cfe6-f5f8-11e5-a35b-551ab72fe034</RequestId>
          </ResponseMetadata>
        </GetIdentityVerificationAttributesResponse>
  recorded_at: Tue, 29 Mar 2016 21:51:38 GMT
recorded_with: VCR 3.0.1
