---
http_interactions:
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetSendStatistics&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T222929Z
      X-Amz-Content-Sha256:
      - dd35d671c2f7723e824465958dcdd1010b42e6326d9905b06c03032488609c82
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIKK6XJVE4HYQKQJQ/20160329/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b059c00c0df26c4be6638c1ff2776dbcc251b449e0fc52be88e1d3938d6ce6ac
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b4738a45-f5fd-11e5-8cad-11025a6e81ba
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetSendStatisticsResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <GetSendStatisticsResult>
            <SendDataPoints>
              <member>
                <Complaints>0</Complaints>
                <Rejects>0</Rejects>
                <Bounces>1</Bounces>
                <DeliveryAttempts>8</DeliveryAttempts>
                <Timestamp>2016-03-28T17:44:00Z</Timestamp>
              </member>
              <member>
                <Complaints>0</Complaints>
                <Rejects>0</Rejects>
                <Bounces>0</Bounces>
                <DeliveryAttempts>41</DeliveryAttempts>
                <Timestamp>2016-03-17T22:29:00Z</Timestamp>
              </member>
              <member>
                <Complaints>0</Complaints>
                <Rejects>0</Rejects>
                <Bounces>0</Bounces>
                <Delive[...]
