---
http_interactions:
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetSendQuota
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=anything, Algorithm=HmacSHA256, Signature=3J003srryrUTg/qE/EZEd4IOME1zh6iQD/5vpCocb2E=
  response:
    status:
      code: 403
      message: 
    headers:
      x-amzn-RequestId:
      - def7dd8f-7918-11e5-9ccb-1dab629b90ad
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid</Message>
          </Error>
          <RequestId>def7dd8f-7918-11e5-9ccb-1dab629b90ad</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 22 Oct 2015 23:59:03 GMT
recorded_with: VCR 2.9.3
