---
http_interactions:
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetSendQuota
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=anything, Algorithm=HmacSHA256, Signature=PCttTu4ViYs1YpYS0eRncS55einZUD7r9okyGOEoNww=
  response:
    status:
      code: 403
      message: 
    headers:
      x-amzn-RequestId:
      - 53e08523-e970-11e5-9556-f9c5b15ee18d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidClientTokenId</Code>
            <Message>The security token included in the request is invalid</Message>
          </Error>
          <RequestId>53e08523-e970-11e5-9556-f9c5b15ee18d</RequestId>
        </ErrorResponse>
  recorded_at: Sun, 13 Mar 2016 23:07:15 GMT
recorded_with: VCR 3.0.1
