---
http_interactions:
- request:
    method: get
    uri: https://api.iugu.com/v1/customers/E89854FBE69A475798D57AF0B8427CB8/payment_methods
    body:
      encoding: UTF-8
      string: '{"customer_id":"E89854FBE69A475798D57AF0B8427CB8"}'
    headers:
      Authorization:
      - Basic ZjQxNjljY2JiNjE2NjBjZDhkMDhmMzcwMzcyYzk5OTk6
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8e04816835672ff72c7914399f5c8df8"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"D5B57FE76C224B27B0B0B72092E826B5","description":"Cart\u00e3o
        de Cr\u00e9dito","item_type":"credit_card","customer_id":"E89854FBE69A475798D57AF0B8427CB8","data":{"brand":"VISA","holder_name":"RAINER
        B A MATOS","display_number":"XXXX-XXXX-XXXX-1111"}}]'
  recorded_at: Tue, 14 Jun 2016 20:44:23 GMT
recorded_with: VCR 3.0.3
