---
http_interactions:
- request:
    method: get
    uri: https://api.iugu.com/v1/subscriptions/ABC1C0EA9F4341568AA23EC5B5043743
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic ZjQxNjljY2JiNjE2NjBjZDhkMDhmMzcwMzcyYzk5OTk6
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"83c8e6038b58757ee189be01aec6d7c3"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"ABC1C0EA9F4341568AA23EC5B5043743","suspended":false,"plan_identifier":"essentials_plan","price_cents":19900,"currency":"BRL","features":{"emails":{"name":"N\u00famero
        de Emails","value":100000}},"expires_at":"2016-07-14","created_at":"2016-06-14T17:44:27-03:00","updated_at":"2016-06-14T17:44:28-03:00","customer_name":"John
        Doe","customer_email":"account0@example.com","cycled_at":null,"credits_min":0,"credits_cycle":null,"payable_with":"credit_card","customer_id":"E89854FBE69A475798D57AF0B8427CB8","plan_name":"Plano
        Essentials","customer_ref":"John Doe","plan_ref":"Plano Essentials","active":true,"in_trial":null,"credits":0,"credits_based":false,"recent_invoices":[{"id":"6598BA37E4124FDFBDEDFEF829228BD9","due_date":"2016-06-14","status":"paid","total":"R$
        199,00","secure_url":"https://iugu.com/invoices/6598ba37-e412-4fdf-bded-fef829228bd9-73e2"}],"subitems":[],"logs":[{"id":"203921FB49C44BF686401F312CB99F8E","description":"Fatura
        criada","notes":"Fatura criada com os items:  1x Ativa\u00e7\u00e3o de Assinatura:
        Plano Essentials = R$ 199,00;","created_at":"2016-06-14T17:44:27-03:00"},{"id":"98690247A6DE4792B6D7212A9E011BED","description":"Assinatura
        Criada","notes":"Assinatura Criada ","created_at":"2016-06-14T17:44:27-03:00"}],"custom_variables":[]}'
  recorded_at: Tue, 14 Jun 2016 20:44:23 GMT
recorded_with: VCR 3.0.3
