---
http_interactions:
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetSendQuota
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIOT5SABFNLCZ5QTQ, Algorithm=HmacSHA256, Signature=8RkHACHu8JqquEhwPk1GQl6jW7xJLid+yWwCjA53P+8=
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-RequestId:
      - 77904663-7a59-11e5-b452-0b225238360e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetSendQuotaResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <GetSendQuotaResult>
            <Max24HourSend>200.0</Max24HourSend>
            <SentLast24Hours>0.0</SentLast24Hours>
            <MaxSendRate>1.0</MaxSendRate>
          </GetSendQuotaResult>
          <ResponseMetadata>
            <RequestId>77904663-7a59-11e5-b452-0b225238360e</RequestId>
          </ResponseMetadata>
        </GetSendQuotaResponse>
  recorded_at: Sat, 24 Oct 2015 14:13:58 GMT
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetSendQuota
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Amzn-Authorization:
      - AWS3-HTTPS AWSAccessKeyId=AKIAIOT5SABFNLCZ5QTQ, Algorithm=HmacSHA256, Signature=66w0sry1biSGbi7zD1GKLIy1m5/hKV0i3oG/BZXlhEM=
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-RequestId:
      - 783538ec-7a59-11e5-891a-77a6fe6c68c4
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetSendQuotaResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <GetSendQuotaResult>
            <Max24HourSend>200.0</Max24HourSend>
            <SentLast24Hours>0.0</SentLast24Hours>
            <MaxSendRate>1.0</MaxSendRate>
          </GetSendQuotaResult>
          <ResponseMetadata>
            <RequestId>783538ec-7a59-11e5-891a-77a6fe6c68c4</RequestId>
          </ResponseMetadata>
        </GetSendQuotaResponse>
  recorded_at: Sat, 24 Oct 2015 14:13:59 GMT
recorded_with: VCR 2.9.3
