---
http_interactions:
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=VerifyDomainIdentity&Domain=example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160410T143759Z
      X-Amz-Content-Sha256:
      - 781e8c1098864fb82ac6a41101a732b4eb717748253eda782553b5a6592887e0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160410/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=99822f7055f9b5880099f4af5ab16b82e0de72821dd86343b6936ffab032b55f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d329770b-ff29-11e5-ba10-7b144616532d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <VerifyDomainIdentityResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <VerifyDomainIdentityResult>
            <VerificationToken>G8qYlxUb5fkAus3eY/tp83XPKI0RvChrEfjYl4aEn7s=</VerificationToken>
          </VerifyDomainIdentityResult>
          <ResponseMetadata>
            <RequestId>d329770b-ff29-11e5-ba10-7b144616532d</RequestId>
          </ResponseMetadata>
        </VerifyDomainIdentityResponse>
  recorded_at: Sun, 10 Apr 2016 14:38:00 GMT
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=VerifyDomainDkim&Domain=example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160410T143800Z
      X-Amz-Content-Sha256:
      - 77cdc053dca36d4746fc28264ab1bd1017138500e518bf32c8c8a3d8b8134697
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160410/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c8dff92bc404dd4066ec3428ff50d1e9007672c5898a4696affb5c629c22c49a
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d38c56e8-ff29-11e5-81a1-874926822c4d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <VerifyDomainDkimResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <VerifyDomainDkimResult>
            <DkimTokens>
              <member>todq4lvd66ptvcfkpgtxo26nx53fkuce</member>
              <member>g3jkkqxckrfukxvmyvz43annasly3ccq</member>
              <member>vfk7s2mxgg27m7vu5npsh7opco6x66rw</member>
            </DkimTokens>
          </VerifyDomainDkimResult>
          <ResponseMetadata>
            <RequestId>d38c56e8-ff29-11e5-81a1-874926822c4d</RequestId>
          </ResponseMetadata>
        </VerifyDomainDkimResponse>
  recorded_at: Sun, 10 Apr 2016 14:38:01 GMT
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetIdentityNotificationTopic&Identity=example.com&NotificationType=Bounce&SnsTopic=arn%3Aaws%3Asns%3Aus-east-1%3A495707395447%3Amailkiq-2&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160410T143801Z
      X-Amz-Content-Sha256:
      - f23ea74d4d9e6bfe53d20f71809e1819432582caaa436d7d42aa01621841388f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160410/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=fd8a373480ec706819a83e6102034b4036c38645c5f9a7f680115acb3a29f69c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d3ff63e4-ff29-11e5-a499-091fbab3fd5d
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetIdentityNotificationTopicResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SetIdentityNotificationTopicResult/>
          <ResponseMetadata>
            <RequestId>d3ff63e4-ff29-11e5-a499-091fbab3fd5d</RequestId>
          </ResponseMetadata>
        </SetIdentityNotificationTopicResponse>
  recorded_at: Sun, 10 Apr 2016 14:38:02 GMT
[...]
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetIdentityFeedbackForwardingEnabled&ForwardingEnabled=false&Identity=example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160410T143803Z
      X-Amz-Content-Sha256:
      - 897bb85960a7a818159ea6b36e1bbb5fd2f6f7391a039c737c218b8e205742aa
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160410/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=345a938635ecd026e56236ab06c090496841d61fb0bd2a388dbbc44927c7db45
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d526cdb6-ff29-11e5-98c1-59323f8aba7a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetIdentityFeedbackForwardingEnabledResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SetIdentityFeedbackForwardingEnabledResult/>
          <ResponseMetadata>
            <RequestId>d526cdb6-ff29-11e5-98c1-59323f8aba7a</RequestId>
          </ResponseMetadata>
        </SetIdentityFeedbackForwardingEnabledResponse>
  recorded_at: Sun, 10 Apr 2016 14:38:04 GMT
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetIdentityMailFromDomain&BehaviorOnMXFailure=UseDefaultValue&Identity=example.com&MailFromDomain=bounce.example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160410T143804Z
      X-Amz-Content-Sha256:
      - 68ac92209f49bb635ac0f9e98760b37db29ff5c0afedfe57d2c03fae15b5b2ee
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160410/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=499e29be2ea3575c3363b9b462fd92e02d0dce915e8e62f6f205dc61be4fa853
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d579338c-ff29-11e5-ab3b-49ff5316f15c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetIdentityMailFromDomainResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SetIdentityMailFromDomainResult/>
          <ResponseMetadata>
            <RequestId>d579338c-ff29-11e5-ab3b-49ff5316f15c</RequestId>
          </ResponseMetadata>
        </SetIdentityMailFromDomainResponse>
  recorded_at: Sun, 10 Apr 2016 14:38:04 GMT
recorded_with: VCR 3.0.1
