---
http_interactions:
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=VerifyDomainIdentity&Domain=example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T221314Z
      X-Amz-Content-Sha256:
      - 781e8c1098864fb82ac6a41101a732b4eb717748253eda782553b5a6592887e0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160329/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c7ef875135eaef4e874917468c8c16184423d33dc0de2303ee22358a92aceac1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6f399806-f5fb-11e5-bec8-59e3a97e09e6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <VerifyDomainIdentityResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <VerifyDomainIdentityResult>
            <VerificationToken>G8qYlxUb5fkAus3eY/tp83XPKI0RvChrEfjYl4aEn7s=</VerificationToken>
          </VerifyDomainIdentityResult>
          <ResponseMetadata>
            <RequestId>6f399806-f5fb-11e5-bec8-59e3a97e09e6</RequestId>
          </ResponseMetadata>
        </VerifyDomainIdentityResponse>
  recorded_at: Tue, 29 Mar 2016 22:13:15 GMT
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=VerifyDomainDkim&Domain=example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T221315Z
      X-Amz-Content-Sha256:
      - 77cdc053dca36d4746fc28264ab1bd1017138500e518bf32c8c8a3d8b8134697
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160329/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=ad0fd8d50dba2f2adc8fd3ecded0bb10fd9f25a98fe100d15e895380da1214ff
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6f9c794e-f5fb-11e5-8dd9-153aeef4d228
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <VerifyDomainDkimResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <VerifyDomainDkimResult>
            <DkimTokens>
              <member>todq4lvd66ptvcfkpgtxo26nx53fkuce</member>
              <member>g3jkkqxckrfukxvmyvz43annasly3ccq</member>
              <member>vfk7s2mxgg27m7vu5npsh7opco6x66rw</member>
            </DkimTokens>
          </VerifyDomainDkimResult>
          <ResponseMetadata>
            <RequestId>6f9c794e-f5fb-11e5-8dd9-153aeef4d228</RequestId>
          </ResponseMetadata>
        </VerifyDomainDkimResponse>
  recorded_at: Tue, 29 Mar 2016 22:13:16 GMT
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetIdentityNotificationTopic&Identity=example.com&NotificationType=Bounce&SnsTopic=arn%3Aaws%3Asns%3Aus-east-1%3A495707395447%3Amailkiq-&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T221316Z
      X-Amz-Content-Sha256:
      - 7489877e3d7f06281ae60bca309f3706d83cbdf568c3c07ba4584f2cd086bc90
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160329/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c34061efb16b710fb7d937c97ec71e1993caab9090d2cefc02134a745a4fab66
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6fffce7f-f5fb-11e5-a6cd-1f0e647e2a08
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetIdentityNotificationTopicResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SetIdentityNotificationTopicResult/>
          <ResponseMetadata>
            <RequestId>6fffce7f-f5fb-11e5-a6cd-1f0e647e2a08</RequestId>
          </ResponseMetadata>
        </SetIdentityNotificationTopicResponse>
  recorded_at: Tue, 29 Mar 2016 22:13:17 GMT
[...]
- request:
    method: post
    uri: https://email.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetIdentityFeedbackForwardingEnabled&ForwardingEnabled=false&Identity=example.com&Version=2010-12-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20160329T221318Z
      X-Amz-Content-Sha256:
      - 897bb85960a7a818159ea6b36e1bbb5fd2f6f7391a039c737c218b8e205742aa
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIOT5SABFNLCZ5QTQ/20160329/us-east-1/ses/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=5e7993ed2510dc6912b2adc058c500396c969e9873cc2aa093187699820cc405
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 71240324-f5fb-11e5-a22a-4b21b4cc7acd
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetIdentityFeedbackForwardingEnabledResponse xmlns="http://ses.amazonaws.com/doc/2010-12-01/">
          <SetIdentityFeedbackForwardingEnabledResult/>
          <ResponseMetadata>
            <RequestId>71240324-f5fb-11e5-a22a-4b21b4cc7acd</RequestId>
          </ResponseMetadata>
        </SetIdentityFeedbackForwardingEnabledResponse>
  recorded_at: Tue, 29 Mar 2016 22:13:19 GMT
recorded_with: VCR 3.0.1
