#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  color: $dark-gray;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $button-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $button-padding;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $green;
    color: $dark-gray;
  }

  &:active { background-color: $dark-green; }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
