table {
  border-collapse: collapse;
  margin: $table-spacing 0;
  width: 100%;
}

th {
  border-bottom: 1px solid #969696;
  font-size: 12px;
  font-weight: 300;
  padding: $table-spacing 0;
  text-align: left;
  text-transform: uppercase;
}

td {
  border-bottom: 1px solid #969696;
  padding: $table-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

th a {
  color: $dark-gray;

  &:hover,
  &:focus { color: $dark-gray; }

  &.current { font-weight: 700; }

  &:after {
    color: $dark-gray;
    display: inline-block;
    margin-left: 7px;
    vertical-align: 1px;
  }

  &.asc:after {
    @include triangle(8px 5px, $dark-gray, up);
    content: '';
  }

  &.desc:after {
    @include triangle(8px 5px, $dark-gray, down);
    content: '';
  }
}

tfoot td {
  border-bottom: 0;
}

td.actions {
  text-align: right;

  a {
    color: $light-gray;

    &:hover,
    &:focus {
      color: $dark-gray;
    }
  }
}
