// Buttons
$all-buttons: append($all-buttons, '.btn');
$button-font-size: 12px;
$button-padding: 15px;

// Typography
$montserrat: 'Montserrat', sans-serif;
$base-font-family: $montserrat;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 15px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #4f4f4f;
$dark-green: #98ce9c;
$dark-red: #bf8888;
$green: #73ff7d;
$light-gray: #b3b3b3;
$light-green: #b8ffbd;
$light-red: #ffb6b6;
$medium-gray: #b3b3b3;
$red: #ff6e6e;
$very-light-gray: #ececec;
$white: #fff;
$yellow: #fcffb8;
$success-color: #93cc97;
$warning-color: #ccbf91;
$danger-color: #cc9191;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $light-green;

// Border
$base-border-color: $very-light-gray;
$base-border: 2px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-padding: 11px 10px 12px;
$form-select-padding: 9px 26px 9px 10px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Extras
$header-background-color: $medium-gray;
$table-spacing: 29px 0 30px;
$brand-background: #808080;
$panel-background: #e4e4e4;

// Scrollbars
$scrollbar-track: $dark-gray;
