<div class="usable-creditcard-form">
  <div class="creditcard-wrapper">
    <div class="input-group nmb_a">
      <div class="icon ccic-brand"></div>
      <input autocomplete="off" class="credit_card_number" data-iugu="number" placeholder="Número do Cartão" type="text" value="">
    </div>

    <div class="input-group nmb_b">
      <div class="icon ccic-cvv"></div>
      <input autocomplete="off" class="credit_card_cvv" data-iugu="verification_value" placeholder="CVV" type="text" value="">
    </div>

    <div class="input-group nmb_c">
      <div class="icon ccic-name"></div>
      <input class="credit_card_name" data-iugu="full_name" placeholder="Titular do Cartão" type="text" value="">
    </div>

    <div class="input-group nmb_d">
      <div class="icon ccic-exp"></div>
      <input autocomplete="off" class="credit_card_expiration" data-iugu="expiration" placeholder="MM/AA" type="text" value="">
    </div>
  </div>

  <div class="footer">
    <%= image_tag 'cc-icons.png', alt: 'Visa, Master, Diners. Amex' %>
  </div>
</div>
