<% [:success, :error, :notice, :failure, :alert].each do |key| -%>
  <% if flash.key? key -%>
    <div class="flash flash-<%= key %>">
      <div class="container">
        <%= h flash[key] %>
        <% unless local_assigns.key? :hide_close %>
          <a href="#" class="flash-close ss-delete"></a>
        <% end %>
      </div>
    </div>
  <% end -%>
<% end -%>
