<div class="row">
  <div class="col-md-12">
    <h2 class="title">
      <%= page_title %>
    </h2>

    <%= simple_form_for @delivery, url: campaign_delivery_path(@campaign) do |f| %>
      <%= f.input :email %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
