<div class="wrapper">
  <%= simple_form_for :password_reset,
        url: account_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |f| %>
    <h2><%= page_title %></h2>

    <%= f.input :password %>
    <%= f.button :submit %>
  <% end %>
</div>
