.label-primary {
  color: #93cc97;
}

.label-default {
  color: shade($light-gray, 20%);
}

.label-warning {
  color: #ccbf91;
}

.label-danger {
  color: #cc9191;
}

.label-percentage {
  background: #fcffb8;
  color: #4f4f4f;
  font-size: 12px;
  text-align: center;
  padding: 8px 12px;
}
