.l-header {
  background: $header-background;
  height: 55px;
  padding-top: 25px;
  font-family: $montserrat;

  .dropdown { display: none; }

  .brand {
    width: 123px;
    height: 32px;
    background: #808080;
    float: left;
  }

  .nav {
    text-align: center;
    margin-left: 150px;
    float: left;

    a {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      margin-left: right;
      padding-bottom: 25px;
      border-bottom: 6px solid transparent;

      &.active {
        color: $nav-primary;
        border-bottom-color: $nav-primary;
      }
    }

    > li {
      display: inline;
      margin-right: 100px;

      &:last-child { margin-right: 0; }
    }
  }

  .nav-dropdown {
    float: right;
  }
}
