.l-header {
  @include box-sizing(border-box);
  background: $header-background;
  height: 70px;
  padding-top: 19px;
  font-family: $montserrat;

  a { @include transition(all 0.2s ease-in-out); }

  .brand {
    width: 123px;
    height: 32px;
    background: #808080;
    float: left;
  }

  .nav {
    width: 435px;
    text-align: center;
    margin-left: 153px;
    float: left;

    a {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      margin-left: right;
      padding-bottom: 16px;
      line-height: 30px;
      font-size: 12px;
      border-bottom: 5px solid transparent;
    }

    li {
      display: inline;
      margin-right: 90px;

      &:last-child { margin-right: 0; }

      &.active a, a:hover {
        color: $nav-primary;
        border-bottom-color: $nav-primary;
      }
    }
  }

  .nav-dropdown {
    float: right;

    a {
      color: #fff;
      font-size: 18px;
      line-height: 36px;

      &:hover { color: $nav-primary; }
    }
  }
}
