.label-primary {
  color: #93cc97;
}

.label-default {
  color: shade($light-gray, 20%);
}

.label-warning {
  color: #ccbf91;
}

.label-danger {
  color: #cc9191;
}

.label-percentage {
  display: inline-block;
  position: absolute;
  background: #fcffb8;
  color: #4f4f4f;
  font-size: 12px;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 25px;
  margin-top: -11px;
  margin-left: 5px;
}
