.lists .glyphicon-trash {
  margin-left: 15px;
}

.list-options {
  padding-left: 30px;
  margin-top: 133px;
}

.list-messages {
  border: 1px solid $nav-tabs-border-color;
  border-top: none;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  margin-bottom: 20px;

  .tab-pane {
    padding: 20px;
  }
}

@include no-desktop {
  .list-options {
    padding-left: 0;
    margin-top: 0;
  }
}

@include phone {
  .list-messages {
    border-top: 1px solid $nav-tabs-border-color;
    border-radius: $border-radius-base;
  }
}
