.simple_form {
  .required abbr { display: none; }

  .half {
    float: left;
    margin-bottom: 35px;

    .string { width: 480px; }

    input, textarea { margin-bottom: 0; }
  }

  .actions { margin: 60px 0 45px; }
}
