$container-large-desktop: 980px + 30px; // 30px is gap size
$headings-font-weight: 600;

$font-size-base: 13px;
$font-family-sans-serif: 'Open Sans', Helvetica, sans-serif;

$navbar-height: 60px;
$navbar-default-bg: #fff;

$gray-dark: #484848;
$hint-text: #7c858e;
