.percentage-balloon {
  background: $yellow;
  border-radius: 25px;
  color: $dark-gray;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  margin-left: 5px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  width: 45px;
}

.metrics {
  @include display(flex);
  margin-bottom: 10px;
  margin-top: 70px;

  > div {
    @include flex(1);
  }

  h3 {
    float: left;
    font-size: 34px;
    font-weight: normal;
  }

  span {
    display: block;
    font-size: 15px;
    font-weight: normal;
  }

  .totals {
    @include flex(1 1 50px);

    h3 {
      font-weight: bold;
    }
  }

  .box {
    background-color: $light-gray;
    border-radius: 10px;
    float: left;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 20px;
  }

  .delivered .box {
    background-color: $action-color;
  }

  .bounces .box {
    background-color: $light-red;
  }

  .complaints .box {
    background-color: #ffd785;
  }
}

.meter {
  border-radius: 3px;
  height: 4px;
  overflow: hidden;

  span {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
}

.progress {
  @include clearfix;

  span {
    float: left;
  }

  .deliveries {
    background-color: $action-color;
  }

  .complaints {
    background-color: #ffd785;
  }

  .unsent {
    background-color: $light-gray;
  }
}

.rates {
  @include display(flex);
  margin-top: 80px;

  > div {
    @include flex(1);
    border-top: 2px solid #e4e4e4;
    padding-top: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 35px;

    span {
      float: right;
    }
  }

  .meter {
    background: $light-gray;

    span {
      background-color: $action-color;
    }
  }

  .clicks {
    margin-left: 190px;
  }
}

.campaign-form {
  @include clearfix;

  .half:nth-of-type(odd) {
    margin-right: 20px;
  }
}

#html {
  min-height: 424px;

  .text {
    height: 418px;
  }
}

#text {
  &, .text {
    height: 424px;
  }
}
