.campaign-form {
  @include clearfix;

  .btn-danger {
    margin-left: 40px;
  }

  textarea {
    background: $medium-gray;
    color: $white;
    font-family: $monospace;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    resize: none;
  }
}

.campaign_name,
.campaign_from_name {
  margin-right: 20px;
}
