.table td:first-child a {
  color: $dark-gray;
  text-decoration: underline;
}

.campaign-percentage {
  background: $yellow;
  border-radius: 25px;
  color: $dark-gray;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  margin-left: 5px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  width: 45px;
}

.campaign-form {
  @include clearfix;

  textarea {
    background: $medium-gray;
    color: $white;
    font-family: $monospace;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    resize: none;
  }
}

.campaign_name,
.campaign_from_name {
  margin-right: 20px;
}


.metrics {
  @include display(flex);
  margin-bottom: 10px;
  margin-top: 70px;

  > div {
    @include flex(1);
  }

  h3 {
    float: left;
    font-size: 34px;
    font-weight: normal;
  }

  span {
    display: block;
    font-size: 15px;
    font-weight: normal;
  }

  .totals {
    @include flex(1 1 50px);

    h3 {
      font-weight: bold;
    }
  }

  .box {
    background-color: $light-gray;
    float: left;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 20px;
  }

  .delivered .box {
    background-color: $action-color;
  }

  .bounces .box {
    background-color: $light-red;
  }
}

.progress {
  @include clearfix;
  border-radius: 3px;
  overflow: hidden;

  span {
    float: left;
    height: 4px;
  }

  .messages {
    background-color: $action-color;
    width: 100px;
  }

  .unsent {
    background-color: $light-gray;
    width: 200px;
  }
}
