.clearance {
  body {
    background-color: $light-gray;
  }

  .wrapper {
    margin: 100px auto 0;
    width: 490px;
  }

  .flash-alert {
    text-align: center;
  }

  .flash-success {
    font-weight: bold;
    line-height: 20px;
    padding: 20px 45px;
    text-align: center;
  }

  .simple-form {
    background: $white;
    padding: 50px 85px;
  }

  .btn {
    width: 100%;
  }
}

.wrapper h2 {
  margin-bottom: 0;

  + p {
    color: $medium-gray;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 5px;
  }
}

// paragraph on sessions#new view
.signup {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $dark-gray;
    font-weight: bold;
  }
}

.new_account {
  .input input {
    margin-bottom: 30px;
  }

  .btn-pay {
    text-align: center;
    width: calc(100% - 30px);
  }
}

.simple-form.session {
  padding-bottom: 40px;
  text-align: center;

  .input {
    text-align: left;

    input {
      margin-bottom: 30px;
    }
  }

  .btn {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  a {
    color: $dark-gray;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.simple-form.password,
.simple-form.password_reset {
  padding-top: 45px;

  .input input {
    margin-bottom: 0;
  }

  .btn {
    margin-top: 25px;
  }
}

.simple-form.password_reset h2 {
  margin-bottom: 50px;
}
