.devise {
  body {
    background-color: $light-gray;
  }

  .wrapper {
    margin: 100px auto 0;
    width: 490px;
  }

  .flash-alert {
    text-align: center;
  }

  .flash-success {
    font-weight: bold;
    line-height: 20px;
    padding: 20px 45px;
    text-align: center;
  }

  .simple_form {
    background: $white;
    padding: 50px 85px;

    .input {
      text-align: left;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin-bottom: 30px;
    }
  }

  .btn {
    width: 100%;
  }
}

.wrapper h2 {
  margin-bottom: 0;

  + p {
    color: $medium-gray;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 5px;
  }
}

.call-registrations {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $dark-gray;
    font-weight: bold;
  }
}

.simple_form.login {
  padding-bottom: 40px;
  text-align: center;

  .btn {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  a {
    color: $dark-gray;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.simple_form.passwords h2 {
  margin-bottom: 50px;
}
