.domains-controller {
  body {
    padding-bottom: 80px;
  }

  .subtitle span {
    float: right;
    vertical-align: -3px;
  }

  .ss-check {
    color: $dark-green;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}

.verification {
  margin-top: 100px;
}

.dkim {
  .icon span:before {
    top: 0px;
  }

  td > span {
    @include ellipsis;
    max-width: 90%;
    vertical-align: top;
  }

  a {
    color: $light-gray;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: top;

    &:hover,
    &:focus {
      color: $dark-gray;
    }
  }
}

.domain-records {
  caption {
    border-bottom: 1px solid #969696;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: left;
    text-decoration: underline;
  }

  td:first-child {
    font-weight: bold;
  }
}

.mail-from .subtitle {
  margin-bottom: 55px;
}
