.flash {
  font-size: 12px;

  p {
    float: left;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
  }

  a {
    color: $dark-gray;
    float: right;
    margin-top: 8px;
  }

  + .main {
    margin-top: 25px;
  }
}

.flash-notice {
  background: $light-green;
}

.flash-alert {
  background: $light-red;
}
