.flash {
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;

  p {
    float: left;
    margin: 0;
  }

  a {
    color: $dark-gray;
    float: right;
  }

  + .main {
    margin-top: 25px;
  }
}

.flash-close:before {
  position: relative;
  top: 2px;
}

.flash-notice {
  background: $light-green;
}

.flash-alert {
  background: $light-red;
}
