.header {
  background: $header-background-color;
  box-sizing: border-box;

  a {
    @include transition(all .2s ease-in-out);
  }

  .container {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    height: 70px;
  }

  .brand {
    @include hide-text;
    background: image-url('logo.png') no-repeat left top;
    display: block;
    height: 31px;
    margin: 0;
    width: 121px;
  }

  .ss-settings {
    color: $white;
    display: inline-block;
    font-size: 18px;
    line-height: 70px;

    &:before {
      position: relative;
      top: 2px;
    }

    &:hover,
    &.active {
      color: $action-color;
    }
  }

  .large-dropdown-menu {
    right: -16px;
    top: 65px;
  }
}

.nav {
  a {
    box-shadow: none;
    color: $white;
    display: inline-block;
    font-size: 12px;
    line-height: 70px;
    margin-left: right;
    text-transform: uppercase;
  }

  li {
    display: inline;
    margin-right: 50px;

    &:last-child { margin-right: 0; }

    &.active a,
    a:hover {
      box-shadow: 0 -5px 0 $action-color inset;
      color: $action-color;
    }
  }
}
