.header {
  background: $header-background-color;
  box-sizing: border-box;

  a {
    @include transition(all .2s ease-in-out);
  }

  .container {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    height: 70px;
  }

  .brand {
    @include hide-text;
    background: image-url('logo.png') no-repeat left top;
    display: block;
    height: 31px;
    margin: 0;
    width: 121px;
  }

  .ss-settings {
    color: $white;
    display: inline-block;
    font-size: 18px;
    line-height: 70px;

    &:before {
      position: relative;
      top: 2px;
    }

    &:hover,
    &.active {
      color: $action-color;
    }
  }
}

.nav {
  a {
    box-shadow: none;
    color: $white;
    display: inline-block;
    font-size: 12px;
    line-height: 70px;
    margin-left: right;
    text-transform: uppercase;
  }

  li {
    display: inline;
    margin-right: 90px;

    &:last-child { margin-right: 0; }

    &.active a,
    a:hover {
      box-shadow: 0 -5px 0 $action-color inset;
      color: $action-color;
    }
  }
}

.header-dropdown-menu {
  right: -16px;
  top: 65px;
  width: 200px;
  padding: 5px 0;
  background-color: $light-green;

  &:before {
    @include triangle(16px 8px, $light-green, up);
    content: '';
    display: block;
    position: absolute;
    right: 17px;
    top: -8px;
  }

  li {
    padding-left: 20px;
    padding-right: 16px;

    &:hover {
      background-color: shade($light-green, 20%);
    }
  }

  a {
    color: $dark-gray;
    display: block;
    line-height: 51px;
  }
}
