h2 {
  font-size: 34px;

  + form {
    margin-top: 60px;
  }

  small {
    color: $medium-gray;
    display: block;
    font-size: 15px;
    font-weight: normal;
  }

  .normal {
    font-weight: normal;
  }
}

.subtitle {
  color: $heading-font-color;
}

.container {
  margin: 0 auto;
  width: 980px;
}

.main {
  @include clearfix;
  margin-top: 55px;
}

.context {
  @include clearfix;

  h2 {
    float: left;
    line-height: 42px;
    margin-bottom: 0;
  }

  .actions {
    float: right;

    > .btn {
      margin-left: 15px;
    }
  }
}

.icon {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

  span:before {
    position: relative;
    top: 3px;
  }
}
