h2 {
  font-size: 34px;

  .btn {
    float: right;
  }

  + form {
    margin-top: 60px;
  }

  small {
    color: $medium-gray;
    display: block;
    font-size: 15px;
    font-weight: normal;
  }
}

.container {
  margin: 0 auto;
  width: 980px;
}

.main {
  @include clearfix;
  margin-top: 55px;
}

.icon {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

  span:before {
    position: relative;
    top: 3px;
  }
}
