h2 {
  font-size: 34px;

  .btn {
    float: right;
  }

  .count {
    color: $medium-gray;
    display: block;
    font-size: 12px;
    font-weight: normal;
  }

  + form {
    margin-top: 60px;
  }
}

.container {
  margin: 0 auto;
  width: 980px;
}

.main {
  @include clearfix;
  margin-top: 55px;
}
