.overlay {
  @include radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .6));
  @include justify-content(center);
  @include align-items(center);
  @include transition(250ms opacity linear);
  @include display(flex);
  background-color: rgba(61, 67, 76, .7);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 9999;

  &.active {
    opacity: 1;
  }

  .box {
    @include box-sizing(border-box);
    background: #fff;
    padding: 50px 85px;
    width: 980px;
  }
}
