.panel {
  border: $base-border;
  border-radius: $base-border-radius;
}

.panel-heading {
  background: $panel-background;
  font-weight: bold;
  padding: 18px 20px;
}

.panel-body {
  padding: 18px 65px;
}
