.settings-controller,
.registrations-controller {
  select {
    width: 100%;
  }

  .subtitle {
    color: $heading-font-color;
    margin-bottom: 45px;
  }

  .page-title {
    margin-bottom: 60px;
  }
}

.edit_account {
  .input input {
    margin-bottom: 30px;
  }

  .field-with-hint input {
    margin-bottom: 0;
  }

  .field-with-hint .hint {
    margin-bottom: 30px;
    margin-top: 6px;
  }
}

.profile > form:last-child {
  border-top: 1px solid #ececec;
  margin: 50px 0;
  padding-top: 50px;
}

.forms {
  @include display(flex);
  @include justify-content(space-between);

  > div:first-child {
    @include flex-basis(500px);
  }

  > div:nth-child(2n) {
    @include flex-basis(410px);
  }
}

.amazon {
  .hint {
    float: left;
    line-height: 14px;
    width: 360px;
  }

  .actions {
    @include clearfix;
    margin-top: 50px;
  }

  .btn {
    float: right;
  }
}

.domains {
  th {
    padding-top: 0;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}

.dns-records {
  table {
    margin: 0;
    table-layout: fixed;
  }

  td span {
    @include ellipsis(90%);
    vertical-align: -6px;
  }

  select {
    margin-bottom: 0;
    margin-top: 20px;
  }

  tr:last-child td,
  .last td {
    border-bottom: 0;
  }
}
