.settings-controller {
  select {
    width: 100%;
  }

  .subtitle {
    color: $heading-font-color;
    margin-bottom: 45px;
  }

  .page-title {
    margin-bottom: 60px;
  }
}

.profile-form {
  width: 490px;

  input {
    margin-bottom: 30px;
  }

  select {
    margin-bottom: 0;
  }

  .field-with-hint input {
    margin-bottom: 0;
  }

  .field-with-hint .hint {
    margin-bottom: 30px;
    margin-top: 6px;
  }
}

.amazon {
  float: left;
  width: 475px;

  .input input {
    margin-bottom: 30px;
  }

  .input select {
    margin-bottom: 0;
  }

  .hint {
    float: left;
    line-height: 14px;
    width: 320px;
  }

  .actions {
    @include clearfix;
    margin-top: 50px;
  }

  .btn {
    float: right;
  }
}

.domains {
  float: right;
  width: 400px;

  th {
    padding-top: 0;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}

.dns-records {
  table {
    margin: 0;
    table-layout: fixed;
  }

  td span {
    @include ellipsis(90%);
    vertical-align: -6px;
  }

  select {
    margin-bottom: 0;
    margin-top: 20px;
  }

  tr:last-child td,
  .last td {
    border-bottom: 0;
  }
}
