.simple_form {
  .text {
    background: $medium-gray;
    color: $white;
    font-family: $monospace;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    resize: none;
  }

  .required abbr {
    display: none;
  }

  .input.half {
    float: left;
    margin-bottom: 35px;
    width: 480px;

    input,
    textarea {
      margin-bottom: 0;
    }
  }

  .actions {
    margin: 60px 0 45px;
  }

  .error {
    color: $light-red;
    font-weight: bold;
    margin-left: 6px;
  }

  .hint {
    color: #ababab;
    font-size: 12px;
  }

  .btn-danger {
    margin-left: 40px;
  }

  select:not([multiple]) {
    @include appearance(none);
    background: image-url('dropdown-arrow.png') no-repeat;
    background-position: calc(100% - 16px) 17px;
    padding: $form-select-padding;
  }
}

.field-with-hint {
  input {
    margin-bottom: 0;
  }

  .hint {
    display: inline-block;
    margin-bottom: .75em;
  }
}

.field-with-errors {
  input,
  textarea {
    border-color: $light-red;
  }
}
