.subscriber-form {
  select {
    width: 100%;
  }

  input,
  select,
  .email {
    margin-bottom: 35px;
  }

  .input {
    width: 50%;
  }
}

.subscribers-controller .main .large-dropdown-menu {
  right: 0;
  top: 50px;
}
