.nav-tabs {
  margin-bottom: .375em;

  li {
    display: inline;
  }

  a {
    color: $dark-gray;
    font-weight: normal;
    margin-right: 10px;
  }

  .active a {
    font-weight: bold;
  }
}

.tab-content {
  &:before {
    @include transition(margin-left .2s ease-in-out);
    @include triangle(14px 7px, $light-gray, up);
    content: '';
    margin-left: 13px;
    margin-top: -6px;
    position: absolute;
  }

  &.next:before {
    margin-left: 69px;
    margin-top: -5px;
  }

  .tab-pane {
    display: none;
  }

  .active {
    display: block;
  }
}
