@import 'bourbon';
@import 'normalize';
@import 'app/icons';
@import 'base/variables';
@import 'base/forms';

body {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  background: #2d2d2d image-url('cover.jpg') no-repeat left top;
  background-size: cover;
  color: #fff;
  font-family: $montserrat;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

.container {
  text-align: center;
  width: 480px;
}

.logo {
  @include align-self(center);
  @include hide-text;
  background: image-url('logo-splash.png') no-repeat left top;
  display: inline-block;
  height: 69px;
  margin: 0;
  width: 264px;
}

.features {
  @include display(flex);
  @include justify-content(space-between);
  font-size: 14px;
  line-height: 26px;
  width: 1000px;

  .item {
    @include flex(0 1 320px);
    border-top: 1px solid #fff;
    box-sizing: border-box;
    padding-right: 33px;
    padding-top: 33px;
  }
}

.form {
  height: 48px;
  margin: 100px 0 130px;
  text-align: right;
  width: 530px;
}

.lead {
  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: $dark-gray;
    float: left;
    margin-bottom: 0;
    width: 410px;

    &,
    &:hover {
      border-color: $action-color;
    }
  }

  .btn {
    background-color: $action-color;
    border: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: $dark-gray;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 46px;
    line-height: 41px;
    text-transform: uppercase;
    width: 120px;
  }

  .ss-icon {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.notice {
  color: $action-color;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
