<!DOCTYPE html>
<html class="devise">
  <head>
    <%= render 'shared/head' %>
    <%= render 'shared/mixpanel' %>
  </head>
  <body data-route="<%= dispatcher_route %>">
    <%= yield %>
  </body>
</html>
